<div class="container text-center">
  <div class="row mb-2">
    <div class="col-12">
      <h2>Website Statistics</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      {{ stats.users }} <br>
      users
    </div>
    <div class="col-sm-3">
      {{ stats.projects }} <br>
      projects
    </div>
    <div class="col-sm-3">
      {{ stats.tasks }} <br>
      tasks
    </div>
    <div class="col-sm-3">
      {{ stats.comments }} <br>
      comments
    </div>
  </div>
</div>
