<div class="card">
  <div class="card-block">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        [(ngModel)]="login_email">
    </div>
    <div class="form-group">
      <label for="email">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        [(ngModel)]="login_password">
    </div>
    <button
      class="btn btn-primary"
      (click)="signIn()">
      Sign In
    </button>
  </div>
</div>

<div *ngIf="error" class="alert alert-danger mt-3">
  <p><strong>Error!</strong></p>
  <p>
    {{ error }}
  </p>
</div>

Not registered? <span class="link" routerLink="sign-up">Sign up</span>!

<div class="alert alert-warning mt-3">
  <strong>Dummy user:</strong>
  <p>
    Email: x@x.com <br>
    Password: 12341234
  </p>
</div>
