<div class="task p-2" [ngClass]="{'finished': task.finished}">
  <div class="row">
    <div class="col-9 flex">
      <p class="mb-0">
        {{ task.name }}
      </p>
      <p *ngIf="task.desc" class="mb-0">
        <small>
          {{ task.desc }}
        </small>
      </p>
      <p *ngIf="task.deadline" class="mb-0 deadline">
        <small>
          {{ parsedTaskDeadline() }}
        </small>
      </p>
    </div>
    <div class="col-3 text-center">
      <label class="custom-control custom-checkbox m-0">
        <input type="checkbox" class="custom-control-input" (change)="changeFinished($event)" [disabled]="shared">
        <span class="custom-control-indicator"></span>
      </label>
      <p class="mb-0">
        <small>
          <span class="link" (click)="viewTask()">comments ({{ task.comments.length }})</span>
          <span *ngIf="!shared" class="link" (click)="editTask()">edit</span>
          <span *ngIf="!shared" class="link" (click)="deleteTask()">delete</span>
        </small>
      </p>
    </div>
  </div>
</div>
