/* You can add global styles to this file, and also import other style files */
app-task:nth-child(even) .task {
  background-color: #f0f0f0;
}

app-task:nth-child(odd) .comment {
  background-color: #f0f0f0;
}

app-task:nth-child(even) .comment {
  background-color: white;
}



span.link {
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}

span.link:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
}
